.footer{
    position: relative;
    display: inline-block;
    width: 90%;
    min-width: 40%;
    white-space: nowrap;
    bottom: 0;
    height: 40px;
    padding: 10px;
    left: 5%;
    right: 5%;
    margin: 0 auto;
    border-top: 2px solid #b3b0b0;
    background-color: #ffffff;
}
.footer p{
    float: right;
    color: #9e9b9b;
    font-size: smaller;
}

.footer img{
    float: left;
    height:20px;
}