.box{
    position: relative;
    display: inline-block;
    width: 90%;
    white-space: nowrap;
    bottom: 0;
    height: 60px;
    padding: 10px;
    left: 5%;
    right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1.8px solid #000000;
    background-color: #ffffff;
}

.box .box-welcome{
    font: 300 22px Roboto;
    color: rgb(80, 79, 79);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    
}


.new-dashboard-container{
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: table;
    justify-content: center;
    position: relative;
    width: 90%;
}
